@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter';
}

body {
    min-height: 100vh;
}

.container {
    margin: auto;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .container {
    margin: auto;
    width: 1140px;
  }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
  }