footer {
    display: flex;
    padding: 60px 0px;
}

.footerCon {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footContact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tel , .addres , .email {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footContact label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.footContact h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.footServis {
    display: flex;
    gap: 80px;
}

.footServis ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footServis ul li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.footServis ul li a:hover {
    border-bottom: 2px solid #6b6b6b70;
}

.footPay {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footPayTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.payments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 14px;
    grid-column-gap: 14px;

}

.payment {
    width: 108px;
    height: 44px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

@media screen and (max-width: 1440px) {
    .footerCon {
        width: 1140px;
    }
}

/* mobile respansive ===================== START  */

@media screen  and  (max-width : 414px) and (min-width: 360px) {
    footer {
        padding: 0px 10px;
        width: 100%;
        height: 476px;
        background-color: #E81D1C
    }
    .Footerlogo img {
        padding-top: 50px;
        width: 132px;
    }
    .footerInfo {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 30px;
        padding-bottom: 60px;
    }
    .footContact {
        grid-row: 2;
        grid-column: 1;
    }
    .tel label  , .addres label , .email label {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #DBDBDB;
    }

    .tel h4  , .addres h4 , .email h4  {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
    .footServis {
        grid-row: 1 ;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .footServis ul  {
        width: 100%;
    }
    .footServis ul li a{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
    .footPay {
        grid-row: 2;
        grid-column: 2;
    }
    .footPayTitle {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #DBDBDB;
    }
    .payments button {
        width: 70px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .payments button img {
        width: 57px;
    }
}

/* mobile respansive ===================== END  */