footer {
    display: flex;
    padding: 60px 0px;
}

.footerCon {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footContact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tel , .addres , .email {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footContact label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.footContact h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.footServis {
    display: flex;
    gap: 80px;
}

.footServis ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footServis ul li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.footServis ul li a:hover {
    border-bottom: 2px solid #6b6b6b70;
}

.footPay {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footPayTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.payments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 14px;
    grid-column-gap: 14px;

}

.payment {
    width: 108px;
    height: 44px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}