header {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}


/* swiber */

.swiper {

    width: 1440px;
    height: 392px;
  }
  
  .swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  #sw1 {
    background-color: #45997B;
    border-radius: 10px;
  }
  #sw2 {
    background-color: #ff2627;
    border-radius: 10px;

  }
  #sw3 {
    background: linear-gradient(180deg, #6B3C81 0%, #AC44A2 100%);
    border-radius: 10px;

  }
  #sw4 {
    background: linear-gradient(180deg, #47BEE3 0%, rgba(0, 26, 255, 0.39) 100%);
    border-radius: 10px;

  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }




  .headTexnoInfo {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .headTexnoInfo-name {
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    color: white;
  }

  .headTexnoInfo-info {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: white;
  }

  .text-blacGren {
    color: #353535;
  }
  .headerCategory-card{
    border-radius: 10px;
  }


  .swiper-button-next ,
  .swiper-button-prev {
    color: black;
    width: 50px;
    height: 50px;
    background: rgba(217, 217, 217, 0.182);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    display: none;
  }

.headTexnoInfo-name {
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;
  color: white;
}


  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 17px;
    font-weight: 700;
}

.headerCategory {
    width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.headerCategory-card {
    display: flex;
    align-items: center;
}

.headerCategory-card h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;  
    color: #ffffff;
    padding-left: 20px;
}

.headerCategory-img {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: end;
}

.headerCategory-img img {
    width: 180px;
}

@media screen and (max-width: 1440px){
  .swiper {
    width: 1140px;

  }
  .headerCategory {
    width: 1140px;
  }
  .headerCategory-img {
    width: 100px;
  }
  .headerCategory-card {
    width: 270px;
    height: 120px;
    justify-content: space-between;
  }


}

/* Respansive mobile ============================================ START*/

@media screen  and  (max-width : 414px) and (min-width: 360px) { 
    .swiper {
      width: 100%;
      height: 180px;
      padding: 0px 15px;
    }
    .swiper img {
      width: 150px;
    }
    .headTexnoInfo {
      gap: 10px;
    }
    .headTexnoInfo-name {
      font-size: 18px;
      line-height: 14px;
    }
    .headTexnoInfo-info {
      font-size: 12px;
      line-height: 14px;
    }
    .headerCategory {
      width: 100%;
      grid-template-columns: repeat(2 ,1fr);
      grid-column-gap: 0px;
      grid-row-gap:  10px;
    }
    .headerCategory-card {
      width: 155px;
      height: 90px;
      align-self: center;
      justify-self: center;
    }
    .headerCategory-card h2 {
      font-size: 12px;
      line-height: 13px;
      padding-left: 10px;
    }
    .headerCategory-img {
      align-items: flex-end;
      justify-content: end;
    }

    .headerCategory-img img{
      width: 70px;
    }
}