main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
    padding-bottom: 40px;
}

.mainlaptops {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 104px;
}

.laptopsHeaader {
    display: flex;
    justify-content: space-between;
}

.laptopsHeaader span  {
    display: flex;
    align-items: center;
    gap: 20px;
}

.laptopsHeaader span h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.laptopsHeaader button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.laptopsHeaader button h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #3C3C3C;
    cursor: pointer;
}

.laptops {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}

.laptop {
    transition: all 0.5s ease;
    width: 240px;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.laptopImg {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);

}

.laptop img{
    transition: all 0.5s ease;
    max-width: 200px;
    max-height: 161px;
    margin-bottom: 20px;
    z-index: 99;
}

.laptop:hover img {
    transition: all 0.5s ease;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.laptopInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 22px;
}
.laptopInfo span{
    color: #000000;
}

.goShopBtn {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
    position: absolute;
    z-index: 2;
    transition: 1s all;
    width: 156px;
    height: 36px;
    background-color: transparent;
    color: white;
    transform: translateX(15px) translateY(-98px);
    border: 3px solid #ffffff;
    cursor: pointer;
}

.goShopBtn::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 161px;
    background: rgba(75, 75, 75, 0.5);
    z-index: -1;
}

.goShopBtnClose {
    display: none;
}

.eva {
    display: flex;
    gap: 3px;
}

.evaCompanent {
    cursor: pointer;
}

.price {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.brend {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brandTitle {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.brandTitle h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.brandLogos {
    width: 100%;
    height: 248px;
    background-color: #ff2627;
    display: flex;
}

.joys {
    width: 1440px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mySwiper3 {
    height: 300px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-wrapper {
    justify-self: center;
    align-self: center;
}
.brandLogo {
    width: 150px;
    height: 112px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;    
}
.brendCon {
    height: 0px;
    width: 0px;
    border-radius: 20px;
    align-self: center;
}

.brendContainer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-bottom: 40px;
}

.servicesImages {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicesImages div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainFooterLine {
    width: 100%;
    height: 307px;
    background-color: #ff2627;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
    justify-content: center;
    gap: 180px;
}

.mainFooterLine .immgLIne{
    animation: anim 5s infinite;
}

.immgLineCon {
    width: 50%;
}

.mainFooterLineCon {
    width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

@media screen and (max-width: 1440px) {
    .mainFooterLineCon {
        width: 1140px;
        gap: 0;
        justify-content: space-between;
        padding-left: 100px;
    }
    
}














main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainProducts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.mainProductsHeader {
    width: 1140px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.mainProductsHeader-title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.mainProductsHeader-title span {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.mainProductsHeader-title img {
    width: 38px;
}

.mainProductsHeader button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.mainProductsHeader button span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #3C3C3C;
}

.mainProductsHeader button img {
    width: 17px;
}

.products {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 26px;
}

.product {
    height: 301px;
    width: 206px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    padding: 5px;
}

.productImg img {
    max-width: 188px;
    max-height: 120px;
}

.productHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.productHeader i {
    padding-top: 8px;
    padding-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.productHeader .new {
    width: 41px;
    height: 19px;
    background: #E81D1C;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImg img {
    transition: 0.3s;
}

.productImg img:hover {
    transform: scale(1.1);
}

.productBottomInfo {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 15px;
    margin-top: 20px;
}

.productTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.productStar {
    display: flex;
    gap: 3.94px;
}

.productStar i {
    font-size: 12px;
    cursor: pointer;
}

.productStar .fa-star {
    color: #E81D1C;
}

.productPrice {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.brendBox {
    min-width: 150px;
    height: 112px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.brend {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brendCon {
    width: 1140px;
    margin: auto;
}

.swiperCon {
    width: 100%;
    background-color: #E81D1C;
}

.mainProductsHeader-title img {
    width: 33px;
}

.thing {
    width: 1140px;
    margin: auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.thingimages {
    display: flex;
    gap: 20px;
}

.thingImgLeft {
    width: 381px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.thingImgMain {
    width: 381px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.thingImgRigth {
    width: 381px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobileApp {
    width: 100%;
    height: 307px;
    background-color: #E81D1C;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileAppCon {
    width: 1140px;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-60px);
}

.mobileAppLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 40px;
}

.mobileAppLeft span {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.mobileAppDownoladBtns {
    display: flex;
    align-items: center;
    gap: 22px;
}

.mobileAppDownoladBtns button {
    width: 139px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.mobileAppRight {
    width: 40%;
}

@keyframes imgAnimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.mobileAppRight img {
    animation: imgAnimation 3s infinite ease;
}

footer {
    margin-top: 50px;
    padding-bottom: 100px;
}

.footerCon {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerMain {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footerAdres {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chil {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chil label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.chil span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.footerServices {
    display: flex;
    gap: 50px;
}

.footerServices ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerServices ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
    cursor: pointer;
}

.footerServices ul li:hover {
    text-decoration: underline;
}

.FooterPay {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footerPayTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6B6B;
}

.payes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.payes button {
    width: 108px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.bottomBar {
    display: none;
}

.headerCategroyBoxConRes {
    display: none;
}

#kategoryBtn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navSerach {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navSerach button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.headerCategroyBoxCon {
    border-radius: 10px;
}

.brendBox img {
    width: 60%;
}

@media screen and (max-width: 414px) and (min-width: 360px) {
    main {
        position: relative;
        width: 100%;
    }

    .mainProducts {
        width: 100%;
        padding: 0px 10px;
    }

    .mainProductsHeader {
        width: 100%;
    }

    .mainProductsHeader-title span {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #3C3C3C;
    }

    .mainProductsHeader button span {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: #3C3C3C;
    }

    .mainProductsHeader button i {
        font-size: 12px;
    }

    .products {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }

    .product {
        width: 168px;
        height: 230px;
        justify-self: center;
        align-self: center;
    }

    .productImg img {
        max-width: 100px;
        max-height: 87px;
    }

    .productBottomInfo {
        gap: 6px;
        padding: 0 10px;
        margin-top: 0px;
    }

    .productTitle {
        max-height: 35px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }

    .fa-star {
        font-size: 11px;
    }

    .productPrice {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #3C3C3C;
    }

    .brend {
        width: 100%;
        margin-top: 30px;
    }

    .brendCon {
        width: 100%;
    }

    .mainProductsHeader-title {
        padding: 0px 10px;
    }

    .brendCon img {
        width: 30px;
    }

    .mySwiper2 {
        width: 100%;
        height: 105px;
    }

    .brendBox {
        min-width: 80px;
        height: 45px;
        border-radius: 5px;
    }

    .brendBox img {
        width: 40px;
    }

    .thing {
        width: 100%;
        padding: 0px 10px;
        margin-top: 40px;
    }

    .thingimages {
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .thingImgLeft {
        gap: 10px;
    }

    .thingImgMain {
        gap: 10px;
    }

    .thingImgRigth {
        gap: 10px;
    }

    .thingImg-1 {
        width: 107px;
        height: 136px;
        border-radius: 10px;
    }

    .thingImg-2 {
        width: 107px;
        height: 73px;
        border-radius: 10px;
    }

    .thingImg-3 {
        width: 118px;
        height: 63px;
        border-radius: 10px;
    }

    .thingImg-4 {
        width: 118px;
        height: 146px;
        border-radius: 10px;
    }

    .thingImg-5 {
        width: 107px;
        height: 134px;
        border-radius: 10px;
    }

    .thingImg-6 {
        width: 107px;
        height: 75px;
        border-radius: 10px;
    }

    .mobileApp {
        display: none;
    }

    footer {
        width: 100%;
        background: #E81D1C;
        padding: 50px 10px;
        padding-bottom: 100px;
    }

    .footerCon {
        width: 100%;
    }

    .footerHeader img {
        width: 132px;
    }

    .footerMain {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 54px;
        grid-column-gap: 20px;
    }

    .footerServices {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .FooterPay {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .footerAdres {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .payes button {
        width: 70px;
        height: 28px;
        cursor: pointer;
    }

    .payes button img {
        width: 57px;
    }

    .footerServices ul li {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }

    .chil .chil1 {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #DBDBDB;
    }

    .chil .chil2 {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }

    .footerPayTitle {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #DBDBDB;
    }

    .bottomBar {
        position: fixed;
        width: 100%;
        height: 61px;
        background-color: #E81D1C;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 30px;
        z-index: 99;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border-radius: 25px; */

    }

    .bottomBar ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bottomBar ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }

    .bottomBar ul li span {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }

    .headerCategroy {
        display: none;
    }

    .headerCategroyBoxConRes {
        width: 95%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 36px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 12px;
    }

    .headerCategroyBoxConRes img {
        max-width: 99px;
    }

    .headerCategroyBoxConRes span {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .timeWork {
        position: fixed !important;
        top: 41% !important;
        left: 0% !important;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: white;
        box-shadow: 0px 0px 24px 12px rgb(34 60 80 / 20%);
        width: 100% !important;
        padding: 10px !important;
        z-index: 99999;
    }
}

.new {
    z-index: 2;
}

.timeWork {
    position: fixed;
    top: 83%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    box-shadow: 0px 0px 24px 12px rgba(34, 60, 80, 0.2);
    width: 500px;
    padding: 20px;
    z-index: 99999;
    border-radius: 10px;
}

.timeWork span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.timeWork span p {
    background-color: transparent;
    color: #6B6B6B;
    margin-right: 30px;
}

.timeWork p {
    background-color: #ff201f;
    color: white;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.trans {
    transform: translateY(200px);
    opacity: 0;
    transition: all 0.5s ease;
}

.ok {
    transition: all 0.3s ease;

}

.ok:active {
    transform: scale(60%);
    transition: all 0.3s ease;

}















@keyframes anim {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

.mobilAppinfoIcons button {
    animation: btnAnim 3s infinite;
}

@keyframes btnAnim {
    0% {
        transform: translateY(-5px);
    }   
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.mobilAppinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 380px;
}

.mobilAppinfo h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.mobilAppinfoIcons {
    display: flex;
    gap: 22px;
}

.mobilAppinfoIcons button {
    width: 140px;
    height: 40px;
    display: flex;
    background-color: black;
    border-radius: 5px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.mobilAppinfoIcons button span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobilAppinfoIcons button h5 {
    font-weight: 300;
}

@media screen and (max-width: 1440px) {
    .mainlaptops {
        width: 1140px;
    }
    .brandTitle {
        width: 1140px;
    }
    .joys {
        width: 1140px;
    }
    .services {
        width: 1140px;
    }
}



.inner::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.191);
	z-index: 99;
	box-sizing: border-box;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	transition: all .4s ease;
	transform: scaleY(0);
}

.servicess:hover .inner::after,
.servicess:hover .inner::before {
	border-color: red;
	z-index: 9;
	animation: fade 0.8s both ease;
}

.hear {
    top: 0;
    right: 10px;
    position: absolute;
    color: #E81D1C;
    font-size: 24px;
    cursor: pointer;
}

.hearBtn {
    top: 0;
    right: 0;
    position: absolute;
    color: #E81D1C;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
    background: none;
    border: none;
}

@keyframes fade {
	0%{
		opacity: 0;
		transform: scaleY(0);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: scaleY(1);
	}
}
.goShopBtnClose {
    width: 156px;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid #E81D1C;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: none;
    background: none;
    cursor: pointer;
    background-color: #e81c1c;
    border-radius: 6px;
    z-index: 100;
    display: none;
  }

  .laptopImg {
    transition: all 0.5s ease;
  
    position: relative;
  }
  .laptopImg:hover .goShopBtnClose {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .laptopImg:hover img{
    transition: all 0.5s ease;
    filter: blur(2px);
  }
  .lapIcon {
    font-size: 36px;    
}

.brendContainer {
    width: 100%;
    background-color: #E81D1C;
}
.servicess {
    display: flex;
    justify-self: center;
    align-self: center;
}
/* mobile respansive ===================== START  */

  @media screen  and  (max-width : 414px) and (min-width: 360px) {

    .mainlaptops {
        width: 100%;
        margin: 0px;
    }

    .laptopsHeaader {
        width: 100%;
        padding: 0px 20px;
    }
    .laptopsHeaader span h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #3C3C3C;
    }
    .laptopsHeaader button h3 {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: #3C3C3C;
    }
    .lapIcon {
        font-size: 30px;
    }
    .laptops {
        width: 100%;
        padding: 0px 10px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
    }
    .services {
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .laptop {
        width: 168px;
        height: 230px;
        justify-items: center;
        align-items: center;
    }
    .laptop img {
        width: 105px;
    }
    .laptopInfo {
        padding: 0px 10px;
    }
    .laptopInfo span {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }
    #productPrice {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #3C3C3C;
    }
    .goShopBtnClose {
        width: 130px;
        height: 30px;
        top: 30px;
        font-size: 12px;
        gap: 10px;
    }
    .mainFooterLine {
        display: none;
    }
    .brend {
        width: 100%;
        height: 105px;
    }
    .brandTitle {
        padding: 0px 10px;
    }
    .brandTitle h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #3C3C3C;
    }
    .brandLogos {
        width: 100%;
        height: 105px;   
    }
    .joys {
        width: 100%;
        height: 105px;
    }
    .brandLogo {
        width: 80px;
        height: 45px;
    }
    .brandLogo img {
        width: 50px;
    }
    .mySwiper3 {
        height: 105px;
    }
    .brendContainer {
        height: 105px;
    }
    .services {
        width: 100%;
        padding: 0px 10px;
    }
    .servicesImages {
        width: 100%;
    }
    .sr1  {
        width: 107px;
        height: 136px;
    }
    .sr2 {
        width: 107px;
        height: 73px;
    }
  }

  /* mobile respansive ===================== END  */