main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
}

.mainlaptops {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 104px;
}

.laptopsHeaader {
    display: flex;
    justify-content: space-between;
}

.laptopsHeaader span  {
    display: flex;
    align-items: center;
    gap: 20px;
}

.laptopsHeaader span h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.laptopsHeaader button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.laptopsHeaader button h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #3C3C3C;
    cursor: pointer;
}

.laptops {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
}

.laptop {
    transition: all 0.5s ease;
    width: 240px;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
}

.laptopImg {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);

}

.laptop img{
    transition: all 0.5s ease;
    max-width: 200px;
    max-height: 161px;
}

.laptop:hover img {
    transition: all 0.5s ease;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.laptopInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 22px;
}

.goShopBtn {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
    position: absolute;
    z-index: 2;
    transition: 1s all;
    width: 156px;
    height: 36px;
    background-color: transparent;
    color: white;
    transform: translateX(15px) translateY(-98px);
    border: 3px solid #ffffff;
    cursor: pointer;
}

.goShopBtn::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 161px;
    background: rgba(75, 75, 75, 0.5);
    z-index: -1;
}

.goShopBtnClose {
    display: none;
}

.eva {
    display: flex;
    gap: 3px;
}

.evaCompanent {
    cursor: pointer;
}

.price {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}

.brend {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brandTitle {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.brandTitle h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #3C3C3C;
}

.brandLogos {
    width: 100%;
    height: 248px;
    background-color: #ff2627;
    display: flex;
}

.joys {
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandLogo {
    width: 150px;
    height: 112px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.services {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-bottom: 40px;
}

.servicesImages {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicesImages div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainFooterLine {
    width: 100%;
    height: 307px;
    background-color: #ff2627;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
    justify-content: center;
    gap: 180px;
}

.mainFooterLine .immgLIne{
    animation: anim 5s infinite;
}

.immgLineCon {
    width: 50%;
}

.mainFooterLineCon {
    width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

@media screen and (max-width: 1440px) {
    .mainFooterLineCon {
        width: 1140px;
        gap: 0;
        justify-content: space-between;
        padding-left: 100px;
    }
    
}

@keyframes anim {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

.mobilAppinfoIcons button {
    animation: btnAnim 3s infinite;
}

@keyframes btnAnim {
    0% {
        transform: translateY(-5px);
    }   
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.mobilAppinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 380px;
}

.mobilAppinfo h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.mobilAppinfoIcons {
    display: flex;
    gap: 22px;
}

.mobilAppinfoIcons button {
    width: 140px;
    height: 40px;
    display: flex;
    background-color: black;
    border-radius: 5px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.mobilAppinfoIcons button span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobilAppinfoIcons button h5 {
    font-weight: 300;
}

@media screen and (max-width: 1440px) {
    .mainlaptops {
        width: 1140px;
    }
    .brandTitle {
        width: 1140px;
    }
    .joys {
        width: 1140px;
    }
    .services {
        width: 1140px;
    }
}