nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navTop {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: #ff201f;
    color: #FFFFFF;
    z-index: 100;
}

.navTopRight {
    display: flex;
    gap: 30px;
}

.til {
    display: flex;
    align-items: center;
    gap: 10px;
}

.adresNav {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    gap: 5px;
}

.adresNav p {
    font-weight: 400;
}

.navSec {
    border: none;
    color: #FFFFFF;
    outline: none;
    background-color: transparent;
}

.navSec option {
    color: black;
}

.nav-b {
    width: 100%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.104);
    z-index: 100;
}

.navBottom {
    height: 55px;
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataLogo {
    width: 191px;
}

.CategoryBtn {
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background-color: #e81d1c;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
    cursor: pointer;
}

.navSearch {
    width: 454px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ACACAC;
}

.navSearch input{
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
}

.navSearch input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.navSearchBtn {
    width: 67px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #e81d1c;
}

.navBtns {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navBtns button {
    display: flex;
    align-items: center;
    width: 93px;
    height: 24px;
    gap: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.category {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 9;
    background-color: white;
    top: 95px;
    -webkit-box-shadow: 4px 36px 30px -5px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 4px 36px 30px -5px rgba(0, 0, 0, 0.11);
    box-shadow: 4px 36px 30px -5px rgba(0, 0, 0, 0.11);
    transition: transform 0.3s ;
}

.categoryCon {
    margin: auto;
    width: 1440px;
    height: 100%;
    padding-top: 10px;
    display: flex;
    gap: 68px;
}

.ctMenu {
    display: flex;
    flex-direction: column;
}

.ctMenu li {
    width: 231px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 6px;
    cursor: pointer;
}

.ctMenu li button {
    width: 231px;
    height: 32px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ctIcon {
    color: #666363;
}

.ctMenu li:hover {
    background-color: #E81D1C;
}

.ctMenu li:hover .ctIcon,
.ctMenu li:hover span {
    color: white;
}

.ctMenuOn {
   border: 1px solid #E81D1C;
}

.ctMenu li span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #666363;
}

@media screen and (max-width: 1440px ){
    .navBottom {
        width: 1140px;
    }
    .categoryCon {
        width: 1140px;
    }
}

.prMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prMenu h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    cursor: pointer;
}

.prMenu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.prMenu ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666363;
    cursor: pointer;
}