nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navTop {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: #ff201f;
    color: #FFFFFF;
    z-index: 101;
}

.navTopRight {
    display: flex;
    gap: 30px;
}

.til {
    display: flex;
    align-items: center;
    gap: 10px;
}

.adresNav {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    gap: 5px;
}

.adresNav p {
    font-weight: 400;
}

.navSec {
    border: none;
    color: #FFFFFF;
    outline: none;
    background-color: transparent;
}

.navSec option {
    color: black;
}

.nav-b {
    width: 100%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.104);
    z-index: 101;
    background-color: white;
}

.navBottom {
    height: 55px;
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataLogo {
    width: 191px;
}

.CategoryBtn {
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background-color: #ff2627;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
    cursor: pointer;
    border-radius: 10px;
}

.navSearch {
    width: 454px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ACACAC;
    border-radius: 10px;
}

.navSearch input{
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
}

.navSearch input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.navSearchBtn {
    width: 67px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #ff2627;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navBtns {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.navBtns button {
    display: flex;
    align-items: center;
    width: 93px;
    height: 24px;
    gap: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.category {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 9;
    background-color: white;
    top: 95px;
    -webkit-box-shadow: 4px 36px 30px -5px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 4px 36px 30px -5px rgba(0, 0, 0, 0.11);
    box-shadow: 4px 36px 30px -5px rgba(0, 0, 0, 0.11);
    transition: transform 0.3s ;
    z-index: 100;
}

.categoryCon {
    margin: auto;
    width: 1440px;
    height: 100%;
    padding-top: 10px;
    display: flex;
    gap: 68px;
}

.ctMenu {
    display: flex;
    flex-direction: column;
}

.ctMenu li {
    width: 231px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7px;
    cursor: pointer;
    transition: all 0.4s ease;
    
}

.ctMenu li button {
    width: 231px;
    height: 32px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ctIcon {
    color: #666363;
}

.ctMenu li:hover {
    background-color: #ff2627;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.6s ease;


}

.ctMenu li:hover .ctIcon,
.ctMenu li:hover span {
    color: white;
}

.ctMenuOn {
   border: 1px solid #E81D1C;
}

.ctMenu li span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #666363;
}
@media screen and (max-width: 1440px ){
    .navBottom {
        width: 1140px;
        align-items: center;
    }
    .categoryCon {
        width: 1140px;
    }
    .navBtns {
        gap: 20px;
    }
    .LogoBtnCon {
        margin-bottom: -3px;
    }
    .kLenght {
        left: 15px;
    }
}

.prMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prMenu h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    cursor: pointer;
}

.prMenu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.prMenu ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666363;
    cursor: pointer;
}


.kLenght {
    color: #FFFFFF ;
    position: absolute;
    top: -5px;
    font-size: 12px;
    right: 330px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E81D1C;
    border-radius: 50%;
}

@keyframes navAnimation {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.nav {
    top: 0;
    position: fixed;
    z-index: 101;
    animation: navAnimation 0.5s ease ;
}
.navProfil{
    display: none!important;
    position: absolute;
    top: 45px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 19px;
    gap: 15px;
    width: 180px;
    height: 188px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px 0px 5px 5px;
}
.profilPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.profilPage span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #3C3C3C;
    width: 100%;
    padding: 1px 2px;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
}
.profilPage span:hover{
        
   transform: translateX(5px);
}
.profilTitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3C3C3C;
    border-bottom: 1px solid #666363;
    padding: 5px;
}
.pr{
    display: flex!important;
}
.categoryCloseRes {
    display: none;
}

/*desktop versiyada none bolib duradon narsalar === START */
    .navRes {
        display: none;
    }
/*desktop versiyada none bolib duradon narsalar === END */

/* Respansive mobile ============================================ START*/

@media screen  and  (max-width : 414px) and (min-width: 360px) {
    .nav-b {
        display: none;
    }
    .navTop {
        display: none;
    }
    .navRes {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
    }
    .navResTop {
        width: 100%;
        padding: 0px 10px;
        display: flex ;
        align-items: center;
        justify-content: space-between;
    }
    .dataLogo {
        width: 11em;
    }
    .navResTopBtn {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .til img{
        width: 20px;
    }
    .til select {
        color: black;
        gap: 0;
    }
    .navResBottom {
        width: 100%;
        padding: 0px 10px;
        display: flex;
        gap: 10px;
    }
    .CategoryBtn {
        height: 40px;
        width: 70px;
    }
    .navSearch {
        height: auto;
    }
    .navSearch button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
    }
    .category {
        width: 100%;
        height: 100vh;
        top: 0;
    }
    .categoryCon {
        flex-direction: column;
    }
    .ctMenu {
        
    }
    .ctMenu li{
        width: 100%;
        justify-content: space-between;
    }
    .ctMenu li button {
        width: 100%;
        justify-content: space-between;
    }
    .categoryCon {
        gap: 30px;
    }
    .ctInfo {
        padding: 0px 10px;
    }
    .categoryCloseRes {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: #E81D1C;
    }
    .categoryClose {
        display: none;
    }
}
/* Respansive mobile ============================================ END*/

.categoryClose {
    width: 100%;
    height: 100%;
    background-color: #3c3c3c00;
}