.shop {
  width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;
}

.linkCategory {
  display: flex;
}

.linkCategory li {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #767676;
}

.shopMain {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shopMainHeader {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.shopMainTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shopMainTitle h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #3C3C3C;
}

.shopMainTitle span {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #5A5A5A;
}

.shopMainHeaderBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.shopMainHeaderBtn button {
  width: 139px;
  height: 30px;
  background: #F0F0F0;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: 0.3s all;
}

.shopMainHeaderBtn button:hover {
  background-color: #E81D1C;
  color: white;
}

.shopMainS {
  display: flex;
  gap: 100px;
}

.shopMenuAside {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.rengePrice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rengePrice h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;
}

.priceMin {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.priceMinInputs {
  display: flex;
}

.rengePrice label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #686868;
}

.rengePrice input {
  width: 100px;
  height: 30px;
}

.minPrice,
.maxPrice {
  display: flex;
  flex-direction: column;
}

.prices {
  display: flex;
  gap: 5px;
}

.pcHR {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.pcHR div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.pcHR ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pcHR ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;
  cursor: pointer;
}

.pcHR select {
  border-color: #E81D1C;
  border-radius: 3px;
  color: #ffffff;
  background-color: #E81D1C;
  outline: none;
}

/* range */
input[type=range] {
<<<<<<< Updated upstream
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FF201F;
    border-radius: 50px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 2px #310003;
    border: 0px solid #1E0002;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: #FF9898;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF201F;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FF201F;
    border-radius: 50px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 2px #310003;
    border: 0px solid #1E0002;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: #FF9898;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FF201F;
    border: 0px solid #010101;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #FF201F;
    border: 0px solid #010101;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 2px #310003;
    border: 0px solid #1E0002;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: #FF9898;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FF201F;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FF201F;
  }
  

  .shopMenuCon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 36px;
  }
  .LaptopContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 30px;
  
  }
  .Laptop{
    width: 1440px;
    margin: 50px auto;
  }
  .kategoriLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #767676;
  }
  
  .LaptopName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  
  .LaptopTitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #3C3C3C;
  }
  
  .LaptopTovar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 200px;
  }
  
  .LaptopImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .LaptopImgg {
    width: 439px;
    height: 409px;
    background: #FFFFFF;
    border: 0.5px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ImagesMini {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 20px;
  }
  
  .miniBorder img {
    width: 66px;
    height: 59px;
  }
  
  .laptopImgg {
    width: 350px;
    height: 300px;
  }
  
  .miniBorder {
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 71px;
    border-radius: 5px;
    padding: 20px 40px;
    cursor: pointer;
  }
  
  .active {
    transition: transform 0.5s ease;
    border: 1px solid #E81D1C;
    transform: translateY(-20px);
  }
  
  .LaptopInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  
  }
  
  .InfoTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .LaptopInfo div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
  
  }
  
  .drection {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #565656;
    cursor: pointer;
  }
  
  .LaptopInfo div span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
  }
  
  .LaptopInfo div p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  
  .LaptopMoneyDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .LaptopKupit {
    top: -180px;
    z-index: 3333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 290px;
    height: 186px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 10px;
    padding: 25px;
  }
  
  .LaptopMoneyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 289px;
    height: 184px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    gap: 15px;
  }
  
  .sum {
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
    color: #474747;
  
  }
  
  .LaptopKupit button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 39px;
    background: #E81D1C;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    gap: 7px;
    cursor: pointer;
  
  }
  
  .LaptopMoneyInfo div p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 200px;
  
  }
  .LaptopMoneyInfo div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .goShopBtnClose{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
  }
  .laptopImg{
    position: relative;
  }
  .laptopImg:hover .goShopBtnClose{
    display: flex;
    justify-content: center;
    align-items: flex-;
  }
=======
  height: 20px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FF201F;
  border-radius: 50px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px #310003;
  border: 0px solid #1E0002;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #FF9898;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FF201F;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FF201F;
  border-radius: 50px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2px #310003;
  border: 0px solid #1E0002;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #FF9898;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #FF201F;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #FF201F;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 2px #310003;
  border: 0px solid #1E0002;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #FF9898;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #FF201F;
}

input[type=range]:focus::-ms-fill-upper {
  background: #FF201F;
}


.shopMenuCon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 36px;
}

.LaptopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 30px;

}

.Laptop {
  width: 1440px;
  margin: 50px auto;
}

.kategoriLink {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #767676;
}

.LaptopName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.LaptopTitle {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #3C3C3C;
}

.LaptopTovar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 200px;
}

.LaptopImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.LaptopImgg {
  width: 439px;
  height: 409px;
  background: #FFFFFF;
  border: 0.5px solid #D1D1D1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImagesMini {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 15px 20px;
}

.miniBorder img {
  width: 66px;
  height: 59px;
}

.laptopImgg {
  width: 350px;
  height: 300px;
}

.miniBorder {
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 71px;
  border-radius: 5px;
  padding: 20px 40px;
  cursor: pointer;
}

.active {
  transition: transform 0.5s ease;
  border: 1px solid #E81D1C;
  transform: translateY(-20px);
}

.LaptopInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;

}

.InfoTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.LaptopInfo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

}

.drection {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #565656;
  cursor: pointer;
}

.LaptopInfo div span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.LaptopInfo div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.LaptopMoneyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.LaptopKupit {
  top: -180px;
  z-index: 3333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 290px;
  height: 186px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 10px;
  padding: 25px;
}

.LaptopMoneyInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 289px;
  height: 184px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  gap: 15px;
}

.sum {
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
  color: #474747;

}

.LaptopKupit button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 39px;
  background: #E81D1C;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  gap: 7px;
  cursor: pointer;

}

.LaptopMoneyInfo div p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  width: 200px;

}

.LaptopMoneyInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.goShopBtnClose {
  transition: all 0.5s ease;
  position: absolute;
  top: 50px;
  left: 20px;
  gap: 10px;
  padding: 10px 20px;
  border: 2px solid #E81D1C;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: none;
  background: none;
  cursor: pointer;
  background-color: #e81c1c;
  border-radius: 6px;
}
.goShopBtnClose:hover{

}

.laptopImg {
  transition: all 0.5s ease;

  position: relative;
}
.laptopImg:hover .goShopBtnClose {
  transition: all 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;

}
.laptopImg:hover img{
  transition: all 0.5s ease;
  filter: blur(2px);
}
>>>>>>> Stashed changes
